#!/bin/sh -e

apk update
apk add            \
    --no-cache     \
    git            \
    curl           \
    perl           \
    zlib-dev

# Lua library that provides functions for file manipulation.
# We need it mainly for mkdir().
opm get spacewander/luafilesystem

# Create .so symlink for libcrypto.so manually.
# In normal circumstances the link would be created by ldconfig,
# but in Alpine Linux ldconfig is non-functional.
ln -s /usr/lib/libcrypto.so.41 /usr/lib/libcrypto.so

# Github repository with nginx-big-upload module
git clone                                            \
    https://github.com/pgaertig/nginx-big-upload.git \
    /opt/nginx-big-upload                            \
    --branch v{{ nginx_big_upload_version }}         \
    --depth  1

rm -rf /opt/nginx-big-upload/.git

# Github repository with lua-resty-http module
git clone                                            \
    https://github.com/pintsized/lua-resty-http.git  \
    /opt/lua-resty-http                              \
    --branch v{{ lua_resty_http_version }}           \
    --depth  1


cp --recursive /opt/lua-resty-http/lib/resty/ /usr/local/openresty/lualib/
rm -rf /opt/lua-resty-http

# Lua libs focusing on input data handling, functional programming and OS path management.
/usr/local/openresty/luajit/bin/luarocks install penlight

# To make compatible path to uploaded file in nginx config with local build and cluster build.
# We must create path for upload and change owner to user which is running the nginx-storage docker for local build.
mkdir /srv/storage/
chown -R nobody:nobody /srv/storage/

rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
