#!/bin/bash -e

# Update package lists for Debian and install dependencies
# Packages needed to build python extensions, dependencies of golem-messages in particular
readarray dependencies < ${BASH_SOURCE%/*}/build-dependencies.txt

dependencies+=(
    # Package uses by golem-messages
    libsecp256k1-dev
)

testing_dependencies=(
    virtualenv
    # The upgrade of `virtualenv` package also upgrade `python3-apt` and `libapt-pkg5.0:amd64` packages.
    # We don't install recommendation packages(`--no-install-recommends`) which is in this case `apt` package.
    # The `apt` package is connected with `libapt-pkg5.0:amd64` package, so they need the same version.
    # We need upgrade `apt` package to testing version.
    apt
)

apt-get update --assume-yes
apt-get install              \
    --assume-yes             \
    --no-install-recommends  \
    ${dependencies[*]}

add-apt-repository "deb {{ debian_mirror }} testing main"
apt-get update --assume-yes

apt-get install              \
    --target-release testing \
    --assume-yes             \
    --no-install-recommends  \
    ${testing_dependencies[*]}

# There's no stable Python 3.6 package in Debian Stretch yet, it's only available on the debian unstable repository, 
# so we have to get it from pyenv package.
git clone                                            \
    https://github.com/pyenv/pyenv                   \
    /opt/pyenv                                       \
    --branch {{ pyenv_version }}                     \
    --depth  1

rm -rf /opt/pyenv/.git
export PYENV_ROOT="/opt/pyenv"
pyenv=/opt/pyenv/bin/pyenv
$pyenv install {{ specific_python_version_for_penv }}
