#!/bin/bash -e

# Install signing-service dependencies
${BASH_SOURCE%/*}/install-dependencies.sh

python="/opt/pyenv/versions/{{ specific_python_version_for_penv }}/bin/python{{ python_version }}"
virtualenv_dir=/usr/lib/signing_service/virtualenv
# Create virtualenv and Django app's dependencies
virtualenv --python "$python" "$virtualenv_dir"
source "$virtualenv_dir/bin/activate"
cd /usr/lib/signing_service/signing-service/
python -m pip install --upgrade pip
python -m pip install --requirement requirements.lock

# Create the daily_thresholds directory that will be contain files with information about transactions
# and change owner to the signing-service user
mkdir daily_thresholds
chown --recursive signing-service:signing-service daily_thresholds

# Clean container and temporary packages needed to build requirements
${BASH_SOURCE%/*}/clean-container.sh
