#!/bin/bash -e

# Update package lists for Debian and install dependencies
# Packages needed to build python extensions, dependencies of golem-messages in particular
readarray dependencies <<< $(cat ${BASH_SOURCE%/*}/build-dependencies.txt  ${BASH_SOURCE%/*}/pyenv-build-dependencies.txt)

dependencies+=(
    # Package used as runtime dependencies of golem-messages
    libsecp256k1-dev
    libffi-dev
)

testing_dependencies=(
    virtualenv
    # The upgrade of `virtualenv` package also upgrade `python3-apt` and `libapt-pkg5.0:amd64` packages.
    # We don't install recommendation packages(`--no-install-recommends`) which is in this case `apt` package.
    # The `apt` package is connected with `libapt-pkg5.0:amd64` package, so they need the same version.
    # We need upgrade `apt` package to testing version.
    apt
)

apt-get update --assume-yes
apt-get install              \
    --assume-yes             \
    --no-install-recommends  \
    ${dependencies[*]}

add-apt-repository "deb {{ debian_mirror }} testing main"
apt-get update --assume-yes

apt-get install              \
    --target-release testing \
    --assume-yes             \
    --no-install-recommends  \
    ${testing_dependencies[*]}

${BASH_SOURCE%/*}/configure-pyenv.sh
