server {
    listen 80;

    gzip            on;
    gzip_min_length 1000;
    gzip_proxied    expired no-cache no-store private auth;
    gzip_types      text/plain text/css text/javascript application/xml;


    location ~ ^/download/ {
        limit_except GET { deny all; }
        alias /srv/storage/;
    }

    location ~ ^/upload/ {
        alias /srv/storage/;
    }
}
