# Vim's temporary files.
*.sw[ponm]

# We never commit binary files to the repository.
*.tar

# Ansible retry files
*.retry

# Build files created by Makefiles.
/containers/build/
/kubernetes/build/
/secrets/build/

# Configure files created by Vagrant and VirtualBox.
/concent-builder-vm/.vagrant/
