from ..production import *
# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    SECRET_KEY,
    DATABASE_PASSWORD,
    EMAIL_PASSWORD,
    CONCENT_PUBLIC_KEY,
    CONCENT_PRIVATE_KEY,
)

DATABASES['default']['NAME']     = '{{ database_name }}'
DATABASES['default']['USER']     = '{{ database_user }}'
DATABASES['default']['PASSWORD'] = DATABASE_PASSWORD
DATABASES['default']['HOST']     = '{{ database_host }}'
DATABASES['default']['PORT']     = '5432'

ALLOWED_HOSTS = [
{% for host in allowed_hosts %}
    "{{ host }}",
{% endfor %}
]

ADMINS = [
{% for admin in admins %}
    ("{{ admin.name }}", "{{ admin.mail }}"),
{% endfor %}
]

EMAIL_HOST           = "{{ email.host }}"
EMAIL_PORT           = {{ email.port }}
EMAIL_HOST_USER      = "{{ email.user }}"
EMAIL_SUBJECT_PREFIX = "[{{ gke.cluster }}:concent-api] "
EMAIL_HOST_PASSWORD  = EMAIL_PASSWORD
EMAIL_USE_TLS        = {{ email.use_tls }}
DEFAULT_FROM_EMAIL   = "{{ email.default_from_email }}"
SERVER_EMAIL         = "{{ email.server_email }}"

CONCENT_FEATURES = ["concent-api", "admin-panel", "gatekeeper"]

STORAGE_CLUSTER_ADDRESS = "http://{{ storage_cluster_address }}/"
