from ..production import *
# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    SECRET_KEY,
    DATABASE_PASSWORD,
    EMAIL_PASSWORD,
    CONCENT_PUBLIC_KEY,
    CONCENT_PRIVATE_KEY,
    SENTRY_DATA_SOURCE_NAME,
)

DATABASES['default']['NAME']     = '{{ database_name }}'
DATABASES['default']['USER']     = '{{ database_user }}'
DATABASES['default']['PASSWORD'] = DATABASE_PASSWORD
DATABASES['default']['HOST']     = '{{ database_host }}'
DATABASES['default']['PORT']     = '5432'

ALLOWED_HOSTS = [
{% for host in allowed_hosts %}
    "{{ host }}",
{% endfor %}
]

ADMINS = [
{% for admin in admins %}
    ("{{ admin.name }}", "{{ admin.mail }}"),
{% endfor %}
]

{% if fast_timing %}
CONCENT_MESSAGING_TIME     = 2
SUBTASK_VERIFICATION_TIME  = 5
FORCE_ACCEPTANCE_TIME      = 5
TOKEN_EXPIRATION_DEADLINE  = 30
{% endif %}

RAVEN_CONFIG = {
    'dsn': SENTRY_DATA_SOURCE_NAME,
    'environment': '{{ gke.cluster }}',
    'tags': {'component': 'concent-api'},
}

EMAIL_HOST           = "{{ email.host }}"
EMAIL_PORT           = {{ email.port }}
EMAIL_HOST_USER      = "{{ email.user }}"
EMAIL_SUBJECT_PREFIX = "[{{ gke.cluster }}:concent-api] "
EMAIL_HOST_PASSWORD  = EMAIL_PASSWORD
EMAIL_USE_TLS        = {{ email.use_tls }}
DEFAULT_FROM_EMAIL   = "{{ email.default_from_email }}"
SERVER_EMAIL         = "{{ email.server_email }}"

CONCENT_FEATURES = ["concent-api", "admin-panel"]

{% if storage_cluster_address == cluster_address and nginx_proxy_ssl or storage_cluster_address != cluster_address and nginx_storage_ssl %}
STORAGE_CLUSTER_ADDRESS = "https://{{ storage_cluster_address }}/"
{% else %}
STORAGE_CLUSTER_ADDRESS = "http://{{ storage_cluster_address }}/"
{% endif %}
