#!/bin/bash -e

requirements_path=$(realpath "$1")
build_dir=$(realpath "$2")

python="/opt/pyenv/versions/{{ python_version }}.{{ python_patch_version }}/bin/python{{ python_version }}"
mkdir --parents "$build_dir/virtualenv/"

virtualenv --python "$python" "$build_dir/virtualenv/"
source "$build_dir/virtualenv/bin/activate"
cd "$build_dir/repositories/concent/concent_api/"
echo -n "$(git describe --tags)" > ../middleman_protocol/RELEASE-VERSION
python -m pip install -r "$requirements_path"

(
    cd ../middleman_protocol/
    python setup.py install
    rm RELEASE-VERSION
)
