#!/bin/bash -e

concent_dir=$(realpath "$1")
package_builder_dir=$(realpath "$2")
build_dir=$(realpath "$3")
output_dir=$(realpath "$4")

mkdir --parents "$build_dir/concent-api-assets/"
cp --recursive "$concent_dir/concent_api" "$build_dir/concent-api-assets"

cd "$build_dir/concent-api-assets/concent_api/"

source "$build_dir/virtualenv/bin/activate"
cp "$package_builder_dir/minimal_settings.py" "concent_api/settings/local_settings.py"

# Running python with -B prevents it from creating the .pyc files
python -B manage.py collectstatic --noinput

tar                                             \
    --create                                    \
    --verbose                                   \
    --file="$output_dir/concent-api-assets.tar" \
    static-root/
