apiVersion: v1
kind: Secret
metadata:
  name: signing-service-secrets
type: Opaque
data:
  sentry_data_source_name:     {{ sentry_data_source_name }}
  ethereum_private_key:        {{ ethereum_private_key }}
  signing_service_private_key:  {{ signing_service_private_key }}
