{% if fast_timing %}
CUSTOM_PROTOCOL_TIMES = True
CONCENT_MESSAGING_TIME = 5
FORCE_ACCEPTANCE_TIME = 15
MINIMUM_UPLOAD_RATE = 48
PAYMENT_DUE_TIME = 40
DOWNLOAD_LEADIN_TIME = 3
SUBTASK_VERIFICATION_TIME = 10
BLENDER_MAX_RENDERING_TIME = 10
ADDITIONAL_VERIFICATION_CALL_TIME = 10
{% endif %}
