#!/bin/bash -e

source golem-env.sh

trap "kill 0" SIGINT

# Running the commands in $() allows our trap to kill them all on exit
result=$(
    golemapp "$@" &                   \
    hyperg --port {{ hyperg_port }} & \
)
