from ..production import *

from .email_settings import *
from .timing_settings import *

# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    SECRET_KEY,
    CONCENT_PUBLIC_KEY,
    CONCENT_PRIVATE_KEY,
    SENTRY_DATA_SOURCE_NAME,
)

DATABASES = {}

ALLOWED_HOSTS = [
{% for host in allowed_hosts %}
    "{{ host }}",
{% endfor %}
    "gatekeeper.default.svc.cluster.local",
]

RAVEN_CONFIG = {
    'dsn': SENTRY_DATA_SOURCE_NAME,
    'environment': '{{ gke.cluster }}',
    'tags': {'component': 'gatekeeper'},
}

EMAIL_SUBJECT_PREFIX = "[{{ gke.cluster }}:gatekeeper] "

CONCENT_FEATURES = ["gatekeeper"]

{% if storage_cluster_address == cluster_address and not nginx_proxy_allow_http or storage_cluster_address != cluster_address and not nginx_storage_allow_http %}
STORAGE_CLUSTER_ADDRESS = "https://{{ storage_cluster_address }}/"
{% else %}
STORAGE_CLUSTER_ADDRESS = "http://{{ storage_cluster_address }}/"
{% endif %}
