from ..production import *

from .email_settings import *
from .timing_settings import *

# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    SECRET_KEY,
    CONCENT_PUBLIC_KEY,
    CONCENT_PRIVATE_KEY,
    SENTRY_DATA_SOURCE_NAME,
)

DEBUG_INFO_IN_ERROR_RESPONSES = {{ allow_debug_info_in_error_responses }}

LOGGING['handlers']['console']['level'] = DEBUG

DATABASES = {}

ALLOWED_HOSTS = [
{% for host in concent_clusters[cluster_index].allowed_hosts %}
    "{{ host }}",
{% endfor %}
    "gatekeeper.default.svc.cluster.local",
]

RAVEN_CONFIG = {
    'dsn': SENTRY_DATA_SOURCE_NAME,
    'environment': '{{ concent_clusters[cluster_index].gke.cluster }}',
    'tags': {'component': 'gatekeeper'},
}

EMAIL_SUBJECT_PREFIX = "[{{ concent_clusters[cluster_index].gke.cluster }}:gatekeeper] "

CONCENT_FEATURES = ["gatekeeper"]

{% if concent_clusters[cluster_index].storage_cluster_address == concent_clusters[cluster_index].cluster_address and not nginx_proxy_allow_http or concent_clusters[cluster_index].storage_cluster_address != concent_clusters[cluster_index].cluster_address and not nginx_storage_allow_http %}
STORAGE_CLUSTER_ADDRESS = "https://{{ concent_clusters[cluster_index].storage_cluster_address }}/"
{% else %}
STORAGE_CLUSTER_ADDRESS = "http://{{ concent_clusters[cluster_index].storage_cluster_address }}/"
{% endif %}
