[Unit]
Description=Nginx storage Service
After=docker.service
Requires=docker.service

[Service]
RestartSec=2s
WorkingDirectory=/home/builder/bin
ExecStart=/home/builder/bin/run-nginx-storage.sh
ExecStop=/usr/bin/docker stop nginx-storage
Restart=on-failure

[Install]
WantedBy=multi-user.target
