from ..production import *

from .email_settings import *
from .timing_settings import *

# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    STORAGE_SECRET_KEY,
    STORAGE_DATABASE_PASSWORD,
    CONCENT_PUBLIC_KEY,
    SENTRY_DATA_SOURCE_NAME,
)

DEBUG_INFO_IN_ERROR_RESPONSES = {{ allow_debug_info_in_error_responses }}

LOGGING['handlers']['console']['level'] = DEBUG

SECRET_KEY = STORAGE_SECRET_KEY

DATABASES['storage']['NAME']     = '{{ storage_database_name }}'
DATABASES['storage']['USER']     = '{{ storage_database_user }}'
DATABASES['storage']['PASSWORD'] = STORAGE_DATABASE_PASSWORD
DATABASES['storage']['HOST']     = '{{ storage_database_host }}'
DATABASES['storage']['PORT']     = '5432'

# The `default` database is not used by the application but Django still requires the key to be present
# in `DATABASES` dict. Make sure it's really empty (if it's not it must be some kind of error).
assert DATABASES['default'] == {}

# Concent has two databases in its default config but only one is used at a time
# and they may not be even on the same cluster.
# In order to work with only one we have to remove the other from the config.
del DATABASES["control"]

RAVEN_CONFIG = {
    'dsn': SENTRY_DATA_SOURCE_NAME,
    'environment': '{{ gke.cluster }}',
    'tags': {'component': 'conductor-worker'},
}

CELERY_BROKER_URL = 'amqp://rabbitmq.default.svc.cluster.local:5672'

EMAIL_SUBJECT_PREFIX = "[{{ gke.cluster }}:conductor-worker] "

CONCENT_FEATURES = ["conductor-worker"]
