from ..production import *
# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    SECRET_KEY,
    CONTROL_DATABASE_PASSWORD,
    STORAGE_DATABASE_PASSWORD,
)

# The `default` database is not used by the application but Django still requires the key to be present
# in `DATABASES` dict. Make sure it's really empty (if it's not it must be some kind of error).
assert DATABASES['default'] == {}

DATABASES['control']['NAME']     = '{{ concent_versions[concent_version].control_database_name | default(control_database_name) }}'
DATABASES['control']['USER']     = '{{ control_database_user }}'
DATABASES['control']['PASSWORD'] = CONTROL_DATABASE_PASSWORD
DATABASES['control']['HOST']     = '{{ control_database_host }}'
DATABASES['control']['PORT']     = '5432'

DATABASES['storage']['NAME']     = '{{ concent_versions[concent_version].storage_database_name | default(storage_database_name) }}'
DATABASES['storage']['USER']     = '{{ storage_database_user }}'
DATABASES['storage']['PASSWORD'] = STORAGE_DATABASE_PASSWORD
DATABASES['storage']['HOST']     = '{{ storage_database_host }}'
DATABASES['storage']['PORT']     = '5432'
