from ..production import *

from .email_settings import *
from .timing_settings import *

# Create secrets.py and put passwords and private keys in it.
# Don't commit it into the repository.
from ..secrets.secrets import (
    SECRET_KEY,
    CONCENT_PUBLIC_KEY,
    CONCENT_PRIVATE_KEY,
    SENTRY_DATA_SOURCE_NAME,
)

DEBUG_INFO_IN_ERROR_RESPONSES = {{ allow_debug_info_in_error_responses }}

LOGGING['handlers']['console']['level'] = DEBUG

DATABASES = {}

RAVEN_CONFIG = {
    'dsn': SENTRY_DATA_SOURCE_NAME,
    'environment': '{{ gke.cluster }}',
    'tags': {'component': 'verifier'},
}

EMAIL_SUBJECT_PREFIX = "[{{ gke.cluster }}:verifier] "

CELERY_BROKER_URL = 'amqp://rabbitmq.default.svc.cluster.local:5672'

CONCENT_FEATURES = ["verifier"]

STORAGE_SERVER_INTERNAL_ADDRESS = "http://nginx-storage.default.svc.cluster.local/"
VERIFIER_STORAGE_PATH = "/srv/storage/"
MOCK_VERIFICATION_ENABLED = {{ mock_verification_enabled }}

{% if storage_cluster_address == cluster_address and not nginx_proxy_allow_http or storage_cluster_address != cluster_address and not nginx_storage_allow_http %}
STORAGE_CLUSTER_ADDRESS = "https://{{ storage_cluster_address }}/"
{% else %}
STORAGE_CLUSTER_ADDRESS = "http://{{ storage_cluster_address }}/"
{% endif %}
