#!/bin/bash -e

dependencies+=(
    # Required by psycopg2 python package (PostgreSQL support)
    libpq-dev

    # Update package lists for Debian and install dependencies
    # Packages needed to build concent(python extensions, dependencies of golem-messages in particular)
    libssl-dev
    pkg-config
    gcc
    python3-dev
    git
    libsecp256k1-dev
    virtualenv
)

apt-get update --assume-yes
apt-get install              \
    --assume-yes             \
    --no-install-recommends  \
    ${dependencies[*]}

apt-get clean
apt autoremove --assume-yes

rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
