from .testing import *

DATABASES['default']['HOST']     = '{{ concent_clusters[cluster_index].gke.cluster }}-{{ image_prefix }}postgresql-unittest'
DATABASES['control']['HOST']     = '{{ concent_clusters[cluster_index].gke.cluster }}-{{ image_prefix }}postgresql-unittest'
DATABASES['storage']['HOST']     = '{{ concent_clusters[cluster_index].gke.cluster }}-{{ image_prefix }}postgresql-unittest'
