#!/bin/bash -e

docker tag nginx-proxy:latest {{ docker_registry }}/nginx-proxy:latest
docker tag concent-api:latest {{ docker_registry }}/concent-api:latest

gcloud docker -- push {{ docker_registry }}/nginx-proxy:latest
gcloud docker -- push {{ docker_registry }}/concent-api:latest
