#!/bin/bash -e

docker tag {{ image_prefix }}verifier:{{ image_version }}       {{ docker_registry }}/{{ image_prefix }}verifier:{{ image_version }}
docker tag {{ image_prefix }}nginx-proxy:{{ image_version }}    {{ docker_registry }}/{{ image_prefix }}nginx-proxy:{{ image_version }}
docker tag {{ image_prefix }}concent-api:{{ image_version }}    {{ docker_registry }}/{{ image_prefix }}concent-api:{{ image_version }}
docker tag {{ image_prefix }}postgresql:{{ image_version }}     {{ docker_registry }}/{{ image_prefix }}postgresql:{{ image_version }}
docker tag {{ image_prefix }}nginx-storage:{{ image_version }}  {{ docker_registry }}/{{ image_prefix }}nginx-storage:{{ image_version }}

gcloud docker -- push {{ docker_registry }}/{{ image_prefix }}verifier:{{ image_version }}
gcloud docker -- push {{ docker_registry }}/{{ image_prefix }}nginx-proxy:{{ image_version }}
gcloud docker -- push {{ docker_registry }}/{{ image_prefix }}concent-api:{{ image_version }}
gcloud docker -- push {{ docker_registry }}/{{ image_prefix }}postgresql:{{ image_version }}
gcloud docker -- push {{ docker_registry }}/{{ image_prefix }}nginx-storage:{{ image_version }}
