resolver kube-dns.kube-system.svc.cluster.local;

map $http_accept $extension {
    default html;
    application/json json;
}

{% if not nginx_proxy_allow_http %}
# HTTP -> HTTPS redirect
server {
    listen 80      default_server;
    listen [::]:80 default_server;
    server_name    {{ cluster_address }};
    return 302     https://$server_name$request_uri;

}
{% endif %}

server {
    {% if nginx_proxy_allow_http %}
    # HTTP
    listen 80       default_server;
    {% endif %}
    # HTTPS
    listen 443      ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;

    ssl_certificate     /etc/ssl/secrets/nginx-proxy-ssl.crt;
    ssl_certificate_key /etc/ssl/secrets/nginx-proxy-ssl.key;

    # Add Diffie-Hellman group
    ssl_dhparam /etc/ssl/secrets/nginx-proxy-dhparam.pem;

    # Disable emitting nginx version on error pages and in the “Server” response header field.
    server_tokens off;

    gzip            on;
    gzip_min_length 1000;
    gzip_proxied    expired no-cache no-store private auth;
    gzip_types      text/plain text/css text/javascript application/xml;
    include         snippets/error-pages.conf;

    location / {
        root    /srv/http/nginx-proxy;
        index   index.html index.htm;
    }

    location /api-docs/ {
        alias /srv/http/concent-api-docs/html/;
    }

    location /static/ {
        alias /srv/http/concent-api-assets/static-root/;
    }

    location ~ ^/(api|admin)/ {
        set $concent_api_backend http://concent-api.default.svc.cluster.local;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $remote_addr;
        proxy_set_header Host              $http_host;
        proxy_pass                         $concent_api_backend;
    }

    location ~ ^/(download|upload)/ {
        {% if nginx_storage_allow_http %}
        set $nginx_storage_backend http://nginx-storage.default.svc.cluster.local;
        {% else %}
        set $nginx_storage_backend https://nginx-storage.default.svc.cluster.local;
        {% endif %}
        client_max_body_size               {{ max_upload_size }};
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $remote_addr;
        proxy_set_header Host              $http_host;
        proxy_pass                         $nginx_storage_backend;
    }
}
