- hosts:
    - concent-builder
  vars_files:
    - consts.yml
    - repositories.yml
    - ../containers/versions.yml
    # NOTE: This playbook should not use values from concent-deployment-values
  tasks:
    - become:      yes
      become_user: root
      block:
        - name:   include common prerequire tasks from `prerequire-configure-tasks.yml` file
          include_tasks: ../concent-builder/common_tasks/prerequire-configure-tasks.yml

        - name:    Add Google SDK repository key
          apt_key:
            url:   https://packages.cloud.google.com/apt/doc/apt-key.gpg
            state: present

        - name:    Add Google Cloud SDK repository
          apt_repository:
            repo:  "deb http://packages.cloud.google.com/apt cloud-sdk-{{ ansible_distribution_release }} main"

        - name:    Add jenkins repository key
          apt_key:
            url:   https://pkg.jenkins.io/debian/jenkins.io.key
            state: present

        - name:    Add jenkins repository
          apt_repository:
            repo:  "deb https://pkg.jenkins.io/debian binary/"
            state: present

        - name:   Install system updates for Debian
          apt:  update_cache=yes

        - name:    Install basic packages
          apt:
            name:
              - ncdu
              - tree
              - htop
              - tmux

        - name:    Install dependencies
<<<<<<< HEAD
          apt:
            name:
              - build-essential
              - libssl-dev
              - pkg-config
              - libsecp256k1-dev
              - git
              - kubectl={{ kubectl_version }}
              - docker-engine={{ docker_version }}
              - google-cloud-sdk={{ google_cloud_sdk_version }}
              - libpq-dev
              - gcc
              - python3-yaml
              - postgresql-{{ postgres_version }}
              - python3-psycopg2
              - default-jdk
              - groovy
              - nginx={{ nginx_debian_version }}

        - name:    Install jenkins package
          apt:
            name: jenkins={{ jenkins_version }}

        - name:   include common postrequire tasks from `postrequire-configure-tasks.yml` file
          include_tasks: common_tasks/postrequire-configure-tasks.yml

        - name:    Create user that will be used for building stuff
          user:
            name:   "{{ shared_user }}"
            state:  present
            groups: docker

        - name:    Create data_dir
          file:
            path:  "{{ data_dir }}"
            state: directory
            owner: "{{ shared_user }}"
            group: "{{ shared_user }}"

        - name:    Create jenkins home directory
          file:
            path:  "{{ jenkins_home_dir }}/"
            state: directory
            owner: jenkins
            group: jenkins

        - name:   Add jenkins role to sudoers
          copy:
            src:  "jenkins-configuration-files/jenkins_sudoers"
            dest: "/etc/sudoers.d/jenkins"

