#!/bin/bash -e

# Packages used by pyenv
readarray dependencies < ${BASH_SOURCE%/*}/pyenv-build-dependencies.txt

dependencies+=(
    # Required by psycopg2 python package (PostgreSQL support)
    libpq-dev
    # Update package lists for Debian and install dependencies
    # Packages needed to build python extensions, dependencies of golem-messages in particular
    git
    gcc
    libssl-dev
    pkg-config
    libffi-dev
    software-properties-common

    # Package used as runtime dependencies of golem-messages
    libsecp256k1-dev
)

testing_dependencies=(
    virtualenv
    # The upgrade of `virtualenv` package also upgrade `python3-apt` and `libapt-pkg5.0:amd64` packages.
    # We don't install recommendation packages(`--no-install-recommends`) which is in this case `apt` package.
    # The `apt` package is connected with `libapt-pkg5.0:amd64` package, so they need the same version.
    # We need upgrade `apt` package to testing version.
    apt
)

apt-get update --assume-yes
apt-get install              \
    --assume-yes             \
    --no-install-recommends  \
    ${dependencies[*]}

add-apt-repository "deb {{ debian_mirror }} testing main"
apt-get update --assume-yes

apt-get install              \
    --target-release testing \
    --assume-yes             \
    --no-install-recommends  \
    ${testing_dependencies[*]}

# Configure pyenv package manager and install python package
${BASH_SOURCE%/*}/configure-pyenv.sh

# Clean container and temporary packages needed to build requirements
${BASH_SOURCE%/*}/clean-pyenv-dependencies.sh
