#!/bin/bash -e

# Update package lists for Debian and install dependencies
dependencies=(
    # Required by psycopg2 python package (PostgreSQL support)
    libpq-dev

    # Packages needed to build python extensions, dependencies of golem-messages in particular
    gcc
    libssl-dev
    git
    pkg-config
    libsecp256k1-dev
    libffi-dev
    software-properties-common
)

testing_dependencies=(
    # There's no stable Python 3.6 package in Debian Stretch yet so we have to get it from testing.
    python{{ python_version }}
    python{{ python_version }}-dev
    virtualenv
    # The upgrade of `virtualenv` package also upgrade `python3-apt` and `libapt-pkg5.0:amd64` packages.
    # We don't install recommendation packages(`--no-install-recommends`) which is in this case `apt` package.
    # The `apt` package is connected with `libapt-pkg5.0:amd64` package, so they need the same version.
    # We need upgrade `apt` package to testing version.
    apt
)

apt-get update --assume-yes
apt-get install              \
    --assume-yes             \
    --no-install-recommends  \
    ${dependencies[*]}

add-apt-repository "deb {{ debian_mirror }} testing main"
apt-get update --assume-yes

apt-get install              \
    --target-release testing \
    --assume-yes             \
    --no-install-recommends  \
    ${testing_dependencies[*]}

# Clean up
apt-get clean
apt autoremove --assume-yes
rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
