#!/bin/bash -e

cd "/srv/http/concent_api"

exec "/srv/http/virtualenv/bin/gunicorn" concent_api.wsgi:application  \
    --name concent-api                     \
    --workers {{ gunicorn_workers }}       \
    --timeout {{ gunicorn_timeout }}       \
    --bind=0.0.0.0:80                      \
    --log-level=info                       \
    --log-file=-
