<?xml version='1.1' encoding='UTF-8'?>
<github-plugin-configuration plugin="github@1.29.3">
  <configs/>
  <hookUrl>{{ jenkins_url_webhook_endpoint }}</hookUrl>
  <hookSecretConfig>
    <!-- This is the identifier of the specific secret-->
    <!-- The secret key should be in the `credentials.xml` file-->
    <credentialsId>a88b23fa-46ca-4a54-b996-a1f9e6ce7a0d</credentialsId>
  </hookSecretConfig>
</github-plugin-configuration>
