from .development import *

{% if not nginx_proxy_allow_http %}
STORAGE_CLUSTER_ADDRESS = "https://{{ concent_versions[concent_version].storage_cluster_address }}/"
{% else %}
STORAGE_CLUSTER_ADDRESS = "http://{{ concent_versions[concent_version].storage_cluster_address }}/"
{% endif %}
