apiVersion: apps/v1
kind:       Deployment
metadata:
  name: concent-api
spec:
  replicas:             {{ concent_versions[concent_version] | chained_get('replica_count.concent_api') | default(replica_count.concent_api, true) }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: concent-api
  template:
    metadata:
      labels:
        app: concent-api
    spec:
      containers:
        - name:             concent-api
          image:            {{ docker_registry }}/{{image_prefix }}concent-api:{{ image_version }}
          imagePullPolicy:  Always
          command:             [
              "/usr/local/bin/run-gunicorn.sh",
              "{{ concent_versions[concent_version] | chained_get('amount_of_gunicorn_workers.concent_api') | default(amount_of_gunicorn_workers.concent_api, true) }}"
          ]
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.concent_api.memory.requests') | default(resource_limits.http_server_apps.concent_api.memory.requests, true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.concent_api.cpu.requests') | default(resource_limits.http_server_apps.concent_api.cpu.requests, true) }}"
            limits:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.concent_api.memory.limits') | default(resource_limits.http_server_apps.concent_api.memory.limits, true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.concent_api.cpu.limits') | default(resource_limits.http_server_apps.concent_api.cpu.limits, true) }}"
          volumeMounts:
            - name:      concent-api-secrets
              mountPath: /srv/http/concent_api/concent_api/settings/secrets/
              readOnly:  true
            - name:      concent-api-settings
              mountPath: /srv/http/concent_api/concent_api/settings/config_map/
              readOnly:  true
      volumes:
        - name: concent-api-secrets
          secret:
            secretName: concent-api-secrets
        - name: concent-api-settings
          configMap:
            name: concent-api-settings
---
apiVersion: v1
kind:       Service
metadata:
  name: concent-api
  labels:
    run: concent-api
spec:
  type: ClusterIP
  ports:
    - port:       80
      targetPort: 80
      name:       concent-api-port
  selector:
    run: concent-api
