apiVersion: extensions/v1beta1
kind:       Deployment
metadata:
  name: concent-api
spec:
  replicas:             {{ concent_versions[concent_version] | chained_get('replica_count.concent_api') | default('{{ replica_count.concent_api }}', true) }}
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        run: concent-api
    spec:
      containers:
        - name:             concent-api
          image:            {{ docker_registry }}/{{image_prefix }}concent-api:{{ image_version }}
          imagePullPolicy:  Always
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "{{ resource_limits.http_server_apps.concent_api.memory.requests }}"
              cpu:    "{{ resource_limits.http_server_apps.concent_api.cpu.requests }}"
            limits:
              memory: "{{ resource_limits.http_server_apps.concent_api.memory.limits }}"
              cpu:    "{{ resource_limits.http_server_apps.concent_api.cpu.limits }}"
          volumeMounts:
            - name:      concent-api-secrets
              mountPath: /srv/http/concent_api/concent_api/settings/secrets/
              readOnly:  true
            - name:      concent-api-settings
              mountPath: /srv/http/concent_api/concent_api/settings/config_map/
              readOnly:  true
      volumes:
        - name: concent-api-secrets
          secret:
            secretName: concent-api-secrets
        - name: concent-api-settings
          configMap:
            name: concent-api-settings
---
apiVersion: v1
kind:       Service
metadata:
  name: concent-api
  labels:
    run: concent-api
spec:
  type: ClusterIP
  ports:
    - port:       80
      targetPort: 80
      name:       concent-api-port
  selector:
    run: concent-api
