apiVersion: extensions/v1beta1
kind:       Deployment
metadata:
  name: conductor-worker
spec:
  replicas:             {{ concent_versions[concent_version] | chained_get('replica_count.conductor_worker') | default('{{ replica_count.conductor_worker }}', true) }}
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        run: conductor-worker
    spec:
      containers:
        - name:             conductor-worker
          image:            {{ docker_registry }}/{{image_prefix }}concent-api:{{ image_version }}
          imagePullPolicy:  Always
          command:          ["/usr/local/bin/run-celery.sh", "--loglevel", "info", "--queues", "conductor"]
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.conductor_worker.memory.requests') | default('{{ resource_limits.worker_apps.conductor_worker.memory.requests }}', true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.conductor_worker.cpu.requests') | default('{{ resource_limits.worker_apps.conductor_worker.cpu.requests }}', true) }}"
            limits:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.conductor_worker.memory.limits') | default('{{ resource_limits.worker_apps.conductor_worker.memory.limits }}', true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.conductor_worker.cpu.limits') | default('{{ resource_limits.worker_apps.conductor_worker.cpu.limits }}', true) }}"
          volumeMounts:
            - name:      concent-api-secrets
              mountPath: /srv/http/concent_api/concent_api/settings/secrets/
              readOnly:  true
            - name:      conductor-worker-settings
              mountPath: /srv/http/concent_api/concent_api/settings/config_map/
              readOnly:  true
      volumes:
        - name: concent-api-secrets
          secret:
            secretName: concent-api-secrets
        - name: conductor-worker-settings
          configMap:
            name: conductor-worker-settings
---
apiVersion: v1
kind:       Service
metadata:
  name: conductor-worker
  labels:
    run: conductor-worker
spec:
  type: ClusterIP
  ports:
    - port:       80
      targetPort: 80
      name:       conductor-worker-port
  selector:
    run: conductor-worker
