apiVersion: extensions/v1beta1
kind:       Deployment
metadata:
  name: gatekeeper
spec:
  replicas:             {{ concent_versions[concent_version] | chained_get('replica_count.gatekeeper') | default('{{ replica_count.gatekeeper }}', true) }}
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        run: gatekeeper
    spec:
      containers:
        - name:             gatekeeper
          image:            {{ docker_registry }}/{{image_prefix }}concent-api:{{ image_version }}
          imagePullPolicy:  Always
          command:             [
              "/usr/local/bin/run-gunicorn.sh",
              "{{ concent_versions[concent_version] | chained_get('amount_of_gunicorn_workers.gatekeeper') | default(amount_of_gunicorn_workers.gatekeeper, true) }}"
          ]
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.gatekeeper.memory.requests') | default('{{ resource_limits.http_server_apps.gatekeeper.memory.requests }}', true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.gatekeeper.cpu.requests') | default('{{ resource_limits.http_server_apps.gatekeeper.cpu.requests }}', true) }}"
            limits:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.gatekeeper.memory.limits') | default('{{ resource_limits.http_server_apps.gatekeeper.memory.limits }}', true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.http_server_apps.gatekeeper.cpu.limits') | default('{{ resource_limits.http_server_apps.gatekeeper.cpu.limits }}', true) }}"
          volumeMounts:
            - name:      concent-api-secrets
              mountPath: /srv/http/concent_api/concent_api/settings/secrets/
              readOnly:  true
            - name:      gatekeeper-settings
              mountPath: /srv/http/concent_api/concent_api/settings/config_map/
              readOnly:  true
      volumes:
        - name: concent-api-secrets
          secret:
            secretName: concent-api-secrets
        - name: gatekeeper-settings
          configMap:
            name: gatekeeper-settings
---
apiVersion: v1
kind:       Service
metadata:
  name: gatekeeper
  labels:
    run: gatekeeper
spec:
  type: ClusterIP
  ports:
    - port:       80
      targetPort: 80
      name:       gatekeeper-port
  selector:
    run: gatekeeper
