apiVersion: extensions/v1beta1
kind:       Deployment
metadata:
  name: geth
spec:
  replicas:             1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        run: geth
    spec:
      containers:
        - name:             geth
          image:            ethereum/client-go:{{ geth_version }}
          imagePullPolicy:  Always
          args:             [
              "--rinkeby",
              "--datadir",  "/blockchain/.ethereum/rinkeby/",
              "--syncmode", "fast",
              # SYNC: Make sure to give the container enough RAM to fit the cache.
              # Also remember that geth needs significantly more memory than just cache so don't set it to the same value.
              "--cache",    "512",
              "--rpc",
              "--rpcaddr",    "0.0.0.0",
              "--rpcvhosts",  "geth, geth.default, geth.default.svc.cluster.local",
              # These APIs are used by golem smart contract interface.
              # First one is for basic methods with use json, second one is for basic methods with use javascript for example to connect to geth RPC,
              # third one is used to check network status for example peer count
              "--rpcapi",     "eth, web3, net",
              "--ipcdisable"
          ]
          resources:
            requests:
              # SYNC: Make sure that the memory limits for the pod include the cache size defined above.
              memory: "2.5Gi"
              cpu:    "700m"
            limits:
              memory: "3Gi"
              cpu:    "1100m"
          volumeMounts:
            - mountPath:  /blockchain
              name:       geth-storage
      volumes:
        - name: geth-storage
          gcePersistentDisk:
            pdName: {{ geth_disk }}
            fsType: ext4
---
apiVersion: v1
kind:       Service
metadata:
  name: geth
  labels:
    run: geth
spec:
  type: ClusterIP
  ports:
    - port:       8545
      targetPort: 8545
      name:       geth-rpc-port
  selector:
    run: geth
