apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-proxy
spec:
  replicas:             {{ concent_versions[concent_version] | chained_get('replica_count.nginx_proxy') | default('{{ replica_count.nginx_proxy }}', true) }}
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        run: nginx-proxy
    spec:
      containers:
        - image:           {{ docker_registry }}/{{ image_prefix }}nginx-proxy:{{ image_version }}
          name:            nginx-proxy
          imagePullPolicy: Always
          resources:
            requests:
              memory: "{{ resource_limits.nginx.nginx_proxy.memory.requests }}"
              cpu:    "{{ resource_limits.nginx.nginx_proxy.cpu.requests }}"
            limits:
              memory: "{{ resource_limits.nginx.nginx_proxy.memory.limits }}"
              cpu:    "{{ resource_limits.nginx.nginx_proxy.cpu.limits }}"
          lifecycle:
            preStop:
              exec:
                command: ["/usr/sbin/nginx", "-s", "quit"]
          volumeMounts:
            - mountPath:  /etc/nginx/configs/
              name:       nginx-configs
            - mountPath:  /etc/nginx/nginx.conf
              subPath:    nginx.conf
              name:       nginx-settings
              readOnly:   true
            - mountPath:  /etc/ssl/secrets/
              name:       nginx-proxy-secrets
              readOnly:   true
      volumes:
        -  name: nginx-configs
           configMap:
             name: nginx-configs
        -  name: nginx-settings
           configMap:
             name: nginx-settings
        - name: nginx-proxy-secrets
          secret:
            secretName:  nginx-proxy-secrets
            defaultMode: 0600
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy
spec:
  type:           LoadBalancer
  loadBalancerIP: {{ concent_versions[concent_version].external_ip }}
  ports:
    - name:       http
      protocol:   TCP
      port:       80
      targetPort: 80
    - name:       https
      protocol:   TCP
      port:       443
      targetPort: 443
    - name:       middleman-external-port
      protocol:   TCP
      port:       9055
      targetPort: 9055
  selector:
    run: nginx-proxy
