apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-proxy
spec:
  replicas:             2
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        run: nginx-proxy
    spec:
      containers:
        - image:           {{ docker_registry }}/{{ image_prefix }}nginx-proxy:{{ image_version }}
          name:            nginx
          imagePullPolicy: Always
          resources:
            requests:
              memory: "100Mi"
              cpu:    "200m"
            limits:
              memory: "512Mi"
              cpu:    "600m"
          lifecycle:
            preStop:
              exec:
                command: ["/usr/sbin/nginx", "-s", "quit"]
          volumeMounts:
            - mountPath:  /etc/nginx/conf.d/
              name:       nginx-configs-{{ deployment_version }}
              readOnly:   true
            - mountPath:  /etc/nginx/snippets/
              name:       nginx-config-snippets-{{ deployment_version }}
              readOnly:   true
            - mountPath:  /etc/ssl/secrets/
              name:       nginx-proxy-secrets-{{ deployment_version }}
              readOnly:   true
      volumes:
        -  name: nginx-configs-{{ deployment_version }}
           configMap:
             name: nginx-configs-{{ deployment_version }}
        - name: nginx-proxy-secrets-{{ deployment_version }}
          secret:
            secretName:  nginx-proxy-secrets-{{ deployment_version }}
            defaultMode: 0600
        -  name: nginx-config-snippets-{{ deployment_version }}
           configMap:
             name: nginx-config-snippets-{{ deployment_version }}
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy
spec:
  type:           LoadBalancer
  loadBalancerIP: {{ external_ip }}
  ports:
    - name:       http
      protocol:   TCP
      port:       80
      targetPort: 80
    - name:       https
      protocol:   TCP
      port:       443
      targetPort: 443
  selector:
    run: nginx-proxy
