apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-storage
spec:
  replicas:             1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        run: nginx-storage
    spec:
      containers:
        - image:           {{ docker_registry }}/{{ image_prefix }}nginx-storage:{{ image_version }}
          name:            nginx-storage
          imagePullPolicy: Always
          resources:
            requests:
              memory: "100Mi"
              cpu:    "200m"
            limits:
              memory: "512Mi"
              cpu:    "600m"
          lifecycle:
            preStop:
              exec:
                command: ["/usr/sbin/nginx", "-s", "quit"]
          volumeMounts:
            - mountPath:  /srv/storage/
              name:       concent-storage
            - mountPath:  /etc/nginx/conf.d/
              name:       nginx-storage-configs
              readOnly:   true
            - mountPath:  /usr/local/openresty/lualib/config/
              name:       file-transfer-config
              readOnly:   true
            - mountPath:  /etc/ssl/secrets/
              name:       nginx-storage-secrets
              readOnly:   true
      volumes:
        - name: nginx-storage-secrets
          secret:
            secretName:  nginx-storage-secrets
            defaultMode: 0600
        - name: concent-storage
          gcePersistentDisk:
            pdName: {{ nginx_storage_disk }}
            fsType: ext4
        - name: file-transfer-config
          configMap:
            name: file-transfer-config
        - name: nginx-storage-configs
          configMap:
            name: nginx-storage-configs
      # securityContext allows you to add permission for pod and mounted volumes to specific group.
      # We need this permission to create files and directories on mounted persistent disk.
      # 65534 is the ID commonly reserved for user 'nobody' in Linux systems and our container follows this convention.
      # We use this user when creating files and directories.
      securityContext:
        fsGroup: 65534
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-storage
spec:
  type:           ClusterIP
  ports:
    - name:       http
      protocol:   TCP
      port:       80
      targetPort: 80
    - name:       https
      protocol:   TCP
      port:       443
      targetPort: 443
  selector:
    run: nginx-storage
