apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: verifier
spec:
  selector:
    matchLabels:
      run: verifier
  serviceName: "verifier"
  replicas:    {{ concent_versions[concent_version] | chained_get('replica_count.verifier') | default('{{ replica_count.verifier }}', true) }}
  template:
    metadata:
      labels:
        run: verifier
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name:             verifier
          image:            {{ docker_registry }}/{{image_prefix }}verifier:{{ image_version }}
          imagePullPolicy:  Always
          command:          ["/usr/local/bin/run-celery.sh", "--loglevel", "info", "--queues", "verifier"]
          resources:
            requests:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.verifier.memory.requests') | default('{{ resource_limits.worker_apps.verifier.memory.requests }}', true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.verifier.cpu.requests') | default('{{ resource_limits.worker_apps.verifier.cpu.requests }}', true) }}"
            limits:
              memory: "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.verifier.memory.limits') | default('{{ resource_limits.worker_apps.verifier.memory.limits }}', true) }}"
              cpu:    "{{ concent_versions[concent_version] | chained_get('resource_limits.worker_apps.verifier.cpu.limits') | default('{{ resource_limits.worker_apps.verifier.cpu.limits }}', true) }}"
          volumeMounts:
            - name:      concent-api-secrets
              mountPath: /srv/http/concent_api/concent_api/settings/secrets/
              readOnly:  true
            - name:      verifier-settings
              mountPath: /srv/http/concent_api/concent_api/settings/config_map/
              readOnly:  true
            - name: verifier-storage
              mountPath: /srv/storage/
      volumes:
        - name: concent-api-secrets
          secret:
            secretName: concent-api-secrets
        - name: concent-api-settings
          configMap:
            name: concent-api-settings
        - name: verifier-settings
          configMap:
            name: verifier-settings
      # securityContext allows you to add permission for pod and mounted volumes to specific group.
      # We need this permission to create files and directories on mounted persistent disk.
      # 65534 is the ID commonly reserved for user 'nobody' in Linux systems and our container follows this convention.
      # We use this user when creating files and directories.
      securityContext:
        fsGroup: 65534
  volumeClaimTemplates:
  - metadata:
      name: verifier-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 30Gi
---
apiVersion: v1
kind:       Service
metadata:
  name: verifier
  labels:
    run: verifier
spec:
  type: ClusterIP
  ports:
    - port:       80
  selector:
    run: verifier
