server {
    listen 80;

    gzip            on;
    gzip_min_length 1000;
    gzip_proxied    expired no-cache no-store private auth;
    gzip_types      text/plain text/css text/javascript application/xml;

    location / {
        root    /srv/http/nginx-proxy;
        index   index.html index.htm;
    }

    location /api-docs/ {
        alias /srv/http/concent-api-docs/html/;
    }

    location /static/ {
        alias /srv/http/concent-api-assets/static-root/;
    }

    location ~ ^/(api|admin)/ {
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $remote_addr;
        proxy_set_header Host              $http_host;
        proxy_pass                         http://concent-api;
    }

    location ~ ^/(download|upload) {
        client_max_body_size               {{ max_upload_size }};
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $remote_addr;
        proxy_set_header Host              $http_host;
        proxy_pass                         http://nginx-storage;
    }
}
