resolver kube-dns.kube-system.svc.cluster.local;

server {
    listen 80;

    gzip            on;
    gzip_min_length 1000;
    gzip_proxied    expired no-cache no-store private auth;
    gzip_types      text/plain text/css text/javascript application/xml;

    location / {
        root    /srv/http/nginx-proxy;
        index   index.html index.htm;
    }

    location /api-docs/ {
        alias /srv/http/concent-api-docs/html/;
    }

    location /static/ {
        alias /srv/http/concent-api-assets/static-root/;
    }

    location ~ ^/(api|admin)/ {
        set $concent_api_backend http://concent-api.default.svc.cluster.local;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $remote_addr;
        proxy_set_header Host              $http_host;
        proxy_pass                         $concent_api_backend;
    }

    location ~ ^/(download|upload)/ {
        set $nginx_storage_backend http://nginx-storage.default.svc.cluster.local;
        client_max_body_size               {{ max_upload_size }};
        #proxy_connect_timeout              {{ limit_time_of_connection }};
        #proxy_send_timeout                 {{ limit_time_of_download }};
        #proxy_read_timeout                 {{ limit_time_of_upload }};
        client_body_timeout                {{ limit_time_of_upload }};
        #keepalive_timeout                  {{ limit_time_of_upload }};
        send_timeout                      {{ limit_time_of_download }};
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $remote_addr;
        proxy_set_header Host              $http_host;
        proxy_pass                         $nginx_storage_backend;
    }
}
