- model: auth.user
  fields:
    username:           admin
    email:              admin@concent.golem.network
    first_name:         Admin
    last_name:          Admin
    password:           "{{ django_admin_password_hash }}"
    is_superuser:       true
    is_staff:           true
    is_active:          true
    date_joined:        '2017-11-24 17:40:00Z'
    last_login:
