SECRET_KEY                   = "{{ django_control_secret_key   | b64decode }}"
STORAGE_SECRET_KEY           = "{{ django_storage_secret_key   | b64decode }}"
CONTROL_DATABASE_PASSWORD    = "{{ control_db_user_password    | b64decode }}"
STORAGE_DATABASE_PASSWORD    = "{{ storage_db_user_password    | b64decode }}"
EMAIL_PASSWORD               = "{{ email_password              | b64decode }}"
CONCENT_PUBLIC_KEY           = {{ concent_public_key           | b64decode('bytes') }}
CONCENT_PRIVATE_KEY          = {{ concent_private_key          | b64decode('bytes') }}
SENTRY_DATA_SOURCE_NAME      = "{{ sentry_data_source_name     | b64decode }}"
CONCENT_ETHEREUM_PRIVATE_KEY = {{ concent_ethereum_private_key | b64decode('bytes') }}
