- name:    Install dependencies from testing
  apt:  name={{ item }} default_release=unstable
  with_items:
    - python{{ python_version }}
    - python3-pip
    - python{{ python_version }}-dev
    # Packages like python3-apt contain files with paths that contain specific Python version (e.g. 3.6).
    # We need to update them to make sure the paths match the interpreter version we have just installed.
    - python3-apt
    - virtualenv

- name:     apt autoclean
  command:  apt autoclean

- name:     apt autoremove
  command:  apt autoremove --assume-yes

- name:    Install yasha in global python environment using pip
  pip:
    executable: pip3
    name:       "{{ item }}"
  with_items:
    - yasha
    - ansible
