#! /bin/bash -e

kubectl delete --context "{{ gke.cluster }}" --filename templates/nginx-proxy-secrets.yml     || true
kubectl delete --context "{{ gke.cluster }}" --filename templates/nginx-storage-secrets.yml   || true
kubectl delete --context "{{ gke.cluster }}" --filename templates/control-db-secrets.yml      || true
kubectl delete --context "{{ gke.cluster }}" --filename templates/storage-db-secrets.yml      || true
kubectl delete --context "{{ gke.cluster }}" --filename templates/concent-api-secrets.yml     || true
kubectl delete --context "{{ gke.cluster }}" --filename templates/django-admin-fixture.yml    || true
{% if signing_service_on_the_cluster %}
kubectl delete --context "{{ gke.cluster }}" --filename templates/signing-service-secrets.yml || true
{% endif %}
